server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/web/kitchenowl;
    index index.html

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }
    location /api/ {
        resolver ${DNS_SERVER};
        proxy_pass ${BACK_URL}/;
    }
}