alembic==1.13.1
amqp==5.2.0
annotated-types==0.6.0
apispec==6.6.1
appdirs==1.4.4
APScheduler==3.10.4
attrs==23.2.0
autopep8==2.1.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
black==24.4.2
blinker==1.8.2
blurhash-python==1.2.2
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
dbscan1d==0.2.2
defusedxml==0.7.1
extruct==0.16.0
flake8==7.0.0
Flask==3.0.3
Flask-APScheduler==1.13.1
Flask-BasicAuth==0.2.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
fonttools==4.51.0
future==1.0.0
gevent==24.2.1
greenlet==3.0.0rc3
h11==0.14.0
html5lib==1.1
html_text==0.6.2
idna==3.7
ingredient_parser_nlp==0.1.0b10
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jstyleson==0.0.2
kiwisolver==1.4.5
kombu==5.3.7
lark==1.1.9
lxml==5.1.0
lxml_html_clean==0.1.1
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
mccabe==0.7.0
mf2py==2.0.1
mlxtend==0.23.1
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.26.4
oic==1.7.0
packaging==24.0
pandas==2.2.2
pathspec==0.12.1
pillow==10.3.0
Pint==0.23
platformdirs==4.2.2
pluggy==1.5.0
prometheus-flask-exporter==0.23.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
py==1.11.0
pycodestyle==2.11.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic-settings==2.2.1
pyflakes==3.2.0
pyjwkest==1.4.2
PyJWT==2.8.0
pyparsing==3.1.2
pyRdfa3==3.6.2
pytest==8.2.0
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-editor==1.0.4
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
rdflib==7.0.0
rdflib-jsonld==0.6.2
recipe_scrapers==14.56.0
regex==2024.5.10
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
setuptools==69.5.1
setuptools-scm==8.1.0
simple-websocket==1.0.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.30
sqlite-icu==1.0
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
tqdm==4.66.4
typed_ast==1.5.5
types-beautifulsoup4==4.12.0.20240511
types-html5lib==1.1.11.20240228
types-requests==2.31.0.20240406
types-urllib3==1.26.25.14
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
uWSGI==2.0.25.1
uwsgi-tools==1.1.1
vine==5.1.0
w3lib==2.1.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
wsproto==1.2.0
zope.event==5.0
zope.interface==6.3
