alembic==1.12.0
appdirs==1.4.4
APScheduler==3.10.4
attrs==23.1.0
autopep8==2.0.4
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.22.1
black==23.1a1
blinker==1.6.2
blurhash-python==1.2.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.0
cycler==0.11.0
dbscan1d==0.2.2
extruct==0.16.0
flake8==6.1.0
Flask==2.3.3
Flask-APScheduler==1.12.4
Flask-BasicAuth==0.2.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.5.2
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==3.0.5
fonttools==4.42.1
gevent==23.9.0
greenlet==2.0.2
h11==0.14.0
html-text==0.5.2
html5lib==1.1
idna==3.4
ingredient-parser-nlp==0.1.0b4
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jstyleson==0.0.2
kiwisolver==1.4.5
lark==1.1.7
lxml==4.9.3
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
mccabe==0.7.0
mf2py==1.1.3
mlxtend==0.22.0
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.25.2
packaging==23.1
pandas==2.1.0
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
prometheus-client==0.17.1
prometheus-flask-exporter==0.22.4
psycopg2-binary==2.9.7
py==1.11.0
pycodestyle==2.11.0
pycparser==2.21
pyflakes==3.1.0
PyJWT==2.8.0
pyparsing==3.0.9
pyRdfa3==3.5.3
pytest==7.4.1
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-editor==1.0.4
python-engineio==4.6.1
python-socketio==5.8.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
rdflib==7.0.0
rdflib-jsonld==0.6.2
recipe-scrapers==14.44.1
regex==2023.8.8
requests==2.31.0
scikit-learn==1.3.0
scipy==1.11.2
setuptools-scm==7.1.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.20
threadpoolctl==3.2.0
toml==0.10.2
tomli==2.0.1
tqdm==4.66.1
typed-ast==1.5.5
types-beautifulsoup4==4.12.0.6
types-html5lib==1.1.11.15
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
uWSGI==2.0.22
uwsgi-tools==1.1.1
w3lib==2.1.2
webencodings==0.5.1
Werkzeug==2.3.7
wsproto==1.2.0
zope.event==5.0
zope.interface==6.0
