server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/web/kitchenowl;
    index index.html

    server_name _;

    location / {
        client_max_body_size 32M;
        try_files $uri $uri/ /index.html;
    }
    location /api/ {
        include uwsgi_params;
        uwsgi_pass ${BACK_URL};
        client_max_body_size 32M;
    }
    location /mcp {
        include uwsgi_params;
        proxy_buffering off;
        uwsgi_buffering off;
        uwsgi_pass ${BACK_URL};
    }
    location /socket.io/ {
        include uwsgi_params;
        uwsgi_param HTTP_HOST $http_host;
        uwsgi_param HTTP_X_REAL_IP $remote_addr;
        uwsgi_param HTTP_X_FORWARDED_FOR $proxy_add_x_forwarded_for;
        uwsgi_param HTTP_X_FORWARDED_PROTO $scheme;
        uwsgi_buffering off;
        uwsgi_read_timeout 86400;
        uwsgi_send_timeout 86400;
        uwsgi_pass ${BACK_URL};
    }
}
server {
    listen 9100;
    location /metrics/ {
        include uwsgi_params;
        uwsgi_pass ${BACK_URL};
    }
}
